body{
    background-color:#171717;
    margin:0 auto;
    overflow:hidden;
}

.card{
    background-color:#418DFF;
    color:white;
    border: solid .3em grey;
    border-radius:1em;
    padding:2em;
}

#header{
    color:white;
    padding:0;
}

.wi{
    font-size: 5em;
    color: orange;
    margin-bottom:.4em;
}